#profileImage {

    width: 38px;
    height: 38px;
    border-radius: 20%;

}


.tab-content {
    min-height: 100px;
    background-color: white;
}

/*.nav-tabs > .active > a, .nav-tabs > .active > a:hover {*/
/*background-color: #9093C5;*/
/*color: white;*/

/*}*/

.customTable > ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #DBDBDB;
    color: black;

}

.customTable > ul.nav.nav-tabs > li {
    float: none;
    display: table-cell;
}

.customTable > ul.nav.nav-tabs > li > a {
    text-align: center;
    color: black;
}

.customTable > ul.nav.nav-tabs > li > a.active {
    background-color: #9093C5;
    color: white;
}

.recieverImage {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    align-items: center;
}

.customTable {
    font-size: 14px;
}

.userInfo {
    font-size: 14px;
    padding-top: 20px !important;
    padding-left: 15px !important;
}






