<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REAP Login</title>
    <link rel="shortcut icon" href="http://learning.tothenew.com/assets/favicon-c06e02ee158e94e25e754cb87a2328fd.ico"
          type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />


    <!-- Bootstrap Validator plugin -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .loader,.loader-register {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 60px;
            height: 60px;
             -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;

            margin: 0 auto;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        #logo-br {
            margin: 0;
        }



        .form-check-label {
            font-size: 15px;
        }

        form .form-control:focus {
            border-color: #ced4da;
            box-shadow: none;
        }

        nav {
            background-color: #FFF;
            padding: 5px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
        }
    </style>
    <script>

        $(document).ready(function () {
            $("#i").click(function () {
                if ($("#password-show").attr("type") == "password") {
                    $("#i-c").removeClass('glyphicon glyphicon-eye-close').addClass('glyphicon glyphicon-eye-open');
                    $("#password-show").attr("type", "text");
                } else {
                    $("#password-show").attr("type", "password");
                    $("#i-c").removeClass('glyphicon glyphicon-eye-open').addClass('glyphicon glyphicon-eye-close');
                }
            });
            $("#send-password").click(function (e) {
                e.preventDefault();
                $(".loader-forgot").css("display","block");
                $.ajax({
                    url:"/forgot",
                    method:"post",
                    data: $('form.feedback').serialize(),
                    success:function (e) {
                        if(e=="Username does'not exists"){
                            $(".loader-forgot").css("display","none");
                            if($("#message").children().length>0){
                                $("#message").html("<h3 style='color:red;'>Username doesn't exists</h3>");
                            }
                            else {
                                $("#message").append("<h3 style='color:red;'>Username doesn't exists</h3>");
                            }
                        }
                        else{
                            $(".loader-forgot").css("display","none");
                            if($("#message").children().length>0){
                                $("#message").html("<h3 style='color:green'>Email sent</h3>");
                            }
                            else
                            $("#message").append("<h3 style='color:green'>Email sent</h3>");
                        }

                    },
                    failure:function () {

                    }
                });
            });
        });
    </script>
</head>

<body >
<div th:if="${param.error}">
    <div class="alert alert-danger" role="alert">
        <big>bad credentials</big>
    </div>
</div>
<div th:if="${param.logout}">
    <div class="alert alert-success" role="alert">
        <big>Logout successfully</big>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <div>
            <img class="ml-4" th:src="@{/assets/Reap_Main.png}" width="100px">
            <img th:src="@{/assets/reap.png}" width="200px">
        </div>
    </a>
    <form style="margin-left: 355px" th:action="@{/perform_login}" method="post">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <div class="form-group input-group has-feedback">

                    <input type="text"  name="username"
                           placeholder="Username" class="form-control" required autofocus />
                </div>
            </div>
            <div class="col-auto" style="margin-top: 2px;">
                <div class="form-group input-group has-feedback" style="margin-bottom: 0px  ">
                    <input type="password"  name="password" id="password-show"
                           placeholder="Password" class="form-control" required />
                    <span class="input-group-addon" id="i">
            <span  id="i-c" class="glyphicon glyphicon-eye-close"></span>
          </span>
                </div>
                <p style="font-size: 0.8em;margin-bottom: 0;margin-top:3px">
                    <a href="#" data-target="#pwdModal" data-toggle="modal">&nbsp;Forgot Password ?</a></p>
            </div>
            <div class="col-auto" style="margin-top: -15px">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                    <label class="form-check-label" for="autoSizingCheck">
                       &nbsp;&nbsp;&nbsp; Remember me
                    </label>
                </div>
            </div>
            <div class="col-auto" style="margin-top: -15px">
                <button type="submit" class="btn  btn-primary ">Login</button>
            </div>
        </div>
    </form>
</nav>

<div  class="container-fluid ">

    <div class="row mt-1 p-3">
        <div class="col-lg-8  bg-light">
            <div class="">
                <div class="row" style="margin-top:120px">
                    <div class="mx-auto">
                        <img style="height: 40px;" class="" th:src="@{/assets/Reap_Main.png}">
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto">
                        <img class="" th:src="@{/assets/reap.png}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class=" bg-light">
                <div class="middle-box text-center loginscreen animated fadeInDown">
                    <div>

                        <h3><strong>New User Registration</strong></h3>
                        <form autocomplete="off" action="#" th:action="@{/register}"
                              th:object="${user}" method="post" class="m-t" role="form"
                              data-toggle="validator">

                            <div th:if="${confirmationMessage}" class="alert alert-success"
                                 role="alert" th:text=${confirmationMessage}></div>

                            <div th:if="${alreadyRegisteredMessage}" class="alert alert-danger"
                                 role="alert" th:text=${alreadyRegisteredMessage}></div>

                            <div th:if="${invalidToken}" class="alert alert-success"
                                 role="alert" th:text=${invalidToken}></div>

                            <div th:if="${confirmationToken}" class="alert alert-success"
                                 role="alert" th:text=${confirmationToken}></div>

                            <div th:if="${errorMessage}"
                                 class="alert alert-danger" role="alert"
                                 th:text="${errorMessage}"></div>




                            <div class="form-group input-group has-feedback">

                                <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

                                <input type="text" th:field="*{firstName}"
                                       placeholder="First Name" class="form-control" required />
                                <span class="glyphicon form-control-feedback"
                                      aria-hidden="true"></span>
                            </div>

                            <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
                                <input type="text" th:field="*{lastName}"
                                       placeholder="Last Name" class="form-control" required />
                                <span class="glyphicon form-control-feedback"
                                      aria-hidden="true"></span>
                            </div>

                            <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
                                <input type="email" th:field="*{email}"
                                       placeholder="Email Address" class="form-control"
                                       data-error="This email address is invalid" required />
                                <span class="glyphicon form-control-feedback"
                                      aria-hidden="true"></span>

                            </div>
                            <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
                                <input name="password" type="password" th:field="*{password}"   placeholder="Password" class="form-control" required />
                                <span class="glyphicon"
                                      aria-hidden="true"></span>
                            </div>



                            <button type="submit" id="submit-button"
                                    class="btn btn-primary block full-width m-b">Register</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">What's My Password?</h1>
            </div>
            <form class="feedback" id="reset-form" >
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>If you have forgotten your password you can reset it here.</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control input-lg" placeholder="E-mail Address" name="emailReset" id="email-reset" type="email">
                                        </div>
                                        <input class="btn btn-lg btn-primary btn-block" id="send-password" value="Send My Password" type="button">
                                        <p id="message"></p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loader loader-forgot" style="display: none;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">

                    <button class="button" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

</body>


</html>