<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="http://learning.tothenew.com/assets/favicon-c06e02ee158e94e25e754cb87a2328fd.ico"
          type="image/x-icon">
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<form method="post" th:action="@{/reset}" th:object="${user}">

    <input name="token" th:value="${resetToken}" style="display: none">
    <input type="password" name="password">
    <input type="submit" value="Change Password">
</form>

</body>
</html>