<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="http://learning.tothenew.com/assets/favicon-c06e02ee158e94e25e754cb87a2328fd.ico"
          type="image/x-icon">
    <meta charset="UTF-8">

    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div class="card">
    <h5 class="card-header">Reset Password</h5>
    <div class="card-body">
        <form method="post" th:action="@{/reset}" th:object="${user}" >

            <input name="token" th:value="${resetToken}" style="display: none">
            <strong>Enter new password : </strong>
            <input type="password" name="password" required>
            <input class="btn btn-xs btn-primary" type="submit" value="Change Password">
        </form>
    </div>
</div>


</body>
</html>