<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<form method="post" th:action="@{/reset}" th:object="${user}">

    <!--<div th:if="${resetToken}" th:text="${resetToken}" th:field="${user.resetToken}" style="display: none"></div>-->
    <input name="token" th:value="${resetToken}" style="display: none">
    <input type="text" name="password">
    <input type="submit">
</form>

</body>
</html>